/* @font-face {
  font-family: SourceHanSansCN-Normal-2;
  src: url(./SourceHanSansCN-Normal-2.otf)
} */

html, body {
  /* font-family: SourceHanSansCN-Normal-2,-apple-system,Verdana,"PingFang SC","Helvetica Neue",Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif; */
  margin: 0;
  padding: 0;
  color: #333;
}

@keyframes avatar-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.avatar {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-top: 280px;
  box-shadow: 1px 2px 5px rgba(0,0,0,.2);
  animation: avatar-rotate 20s linear infinite;
}

.button {
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #333;
  border-radius: 13px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 18px;
  margin: 0 5px;
  cursor: pointer;
  transition: padding .3s;
}
.button:link,
.button:active,
.button:hover,
.button:visited {
  color: #333;
}
.button:hover {
  padding: 0 24px;
}
.button.dark {
  background-color: #444444;
  color: #ffffff;
}

.title > span {
  display: inline-block;
  position: relative;
}
.title > span::after {
  display: inline-block;
  background: #ffc107;
  width: 100%;
  content: "";
  height: 25%;
  position: absolute;
  left: 0;
  bottom: 2px;
  z-index: -1;
  opacity: .8;
  transition: height .4s;
}
.title > span:hover::after {
  height: 50%;
}

/* link */
.link {
  color: #222;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.link::after {
  display: inline-block;
  background: #ffc107;
  width: 100%;
  content: "";
  height: 25%;
  position: absolute;
  left: 0;
  bottom: 2px;
  z-index: -1;
  opacity: .8;
  transition: height .4s;
}
.link:hover::after {
  height: 50%;
}
.link:active,
.link:hover,
.link:visited {
  color: #222;
  text-decoration: none;
}